/.idea/
/userland-thread_list.cbp
/cmake_install.cmake
/cmake-build-debug/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/userland-thread_list
/main.s
/out
/threads.s
/tmp/
/userland-threads
/userland-threads.cbp
